use_channels: [0,1,2,3]
ch_in: 4
targets: [1080Lines, 1400Ripples, Air_Compressor, Blip,
          Chirp, Extremely_Loud, Helix, Koi_Fish,
          Light_Modulation, Low_Frequency_Burst, Low_Frequency_Lines, No_Glitch,
          None_of_the_Above, Paired_Doves, Power_Line, Repeating_Blips,
          Scattered_Light, Scratchy, Tomte, Violin_Mode,
          Wandering_Line, Whistle]
use_other: False
load_state_dict: False
z_detach: True
num_test_samples: 2000
l: 5
lam: 1.2
use_multi_heads: True
num_ranking: 5
num_heads: 5
n_components: 64
dpi: 100
seed: 2142
thres: 0.95
num_epochs: 10000
num_classes: 22
num_pred_classes: 50
dim_w: 50
dim_w_over: 250
dim_z: 512
beta: 1
train_size: 0.7
labeled_size: 0.1
batch_size: 128
num_workers: 4
lr: 1e-4
num_train_steps: 100
test_interval: 10
eval_interval: 20
save_interval: 20
model_dir: /home/gen.ueshima/gen/workspace/github/
dataset_root: /home/gen.ueshima/gen/workspace/github/GravitySpy/processed/dataset_small.h5
weights: [1., 1., 10.]

wandb:
  project: kagra-deep
  name: test
  tags: None
  group: test


train:
  batch_size: 128
  num_workers: 4
  pin_memory: True
  drop_last: True

eval:
  batch_size: 128
  num_workers: 4
  pin_memory: True
  drop_last: False
